# Shared docker-compose settings
POSTGRES_DB=mixtura
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

REDIS_USER=default
REDIS_PASSWORD=default

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Auth service mail settings
SMTP_HOST=mail.example.com
SMTP_PORT=465
SMTP_USER=noreply
SMTP_PASSWORD=change-me
SMTP_DOMAIN=example.com
SERVER_PROXY=

# Frontend runtime replacement values for production Docker image
FRONTEND_ENV_VITE_API_URL=http://localhost:8000
FRONTEND_ENV_VITE_FALLBACK_LOCALE=ru
FRONTEND_ENV_VITE_DEFAULT_LOCALE=ru
FRONTEND_ENV_VITE_HCAPTCHA_SITEKEY=
