[submodule "mixtura-frontend"]
	path = mixtura-frontend
	url = https://github.com/mixtura-dev/mixtura-frontend.git
	branch = develop
    update = merge
[submodule "mixtura-backend/auth-service"]
	path = mixtura-backend/auth-service
	url = https://github.com/mixtura-dev/mixtura-backend-auth.git
	branch = develop
	update = merge
[submodule "mixtura-backend/mixer-service"]
	path = mixtura-backend/mixer-service
	url = https://github.com/mixtura-dev/mixtura-backend-mixer.git
	branch = develop
	update = merge
[submodule "mixtura-backend/server-service"]
	path = mixtura-backend/server-service
	url = https://github.com/mixtura-dev/mixtura-backend-server.git
	branch = develop
	update = merge
[submodule "gateway"]
	path = mixtura-backend/gateway
	url = https://github.com/mixtura-dev/mixtura-backend-gateway
	branch = develop
[submodule "mixtura-backend/mixtura-balancer-tournament"]
	path = mixtura-backend/mixtura-balancer-tournament
	url = https://github.com/mixtura-dev/mixtura-balancer-tournament.git
	branch = develop
	update = merge
[submodule "mixtura-backend/mixtura-balancer"]
	path = mixtura-backend/mixtura-balancer
	url = https://github.com/mixtura-dev/mixtura-balancer.git
	branch = develop
	update = merge
[submodule "mixtura-backend/mixtura-ranker"]
	path = mixtura-backend/mixtura-ranker
	url = https://github.com/mixtura-dev/mixtura-ranker.git
	branch = develop
	update = merge