[submodule "mixtura-backend"]
	path = mixtura-backend
	url = https://github.com/Ksenob1te/mixtura-backend.git
[submodule "mixtura-frontend"]
	path = mixtura-frontend
	url = https://github.com/Ksenob1te/mixtura-frontend.git
